.headerContainer {
    border-bottom: 1px solid #E6E8EC;
    height: 80px;
    box-sizing: border-box;
    width: 100%;
}

.headerContentContainer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logoName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #23262F;
    height: 40px;
    margin-left: -65px;
    padding-right: 32px;
    padding-top: 10px;
    border-right: 2px solid #E6E8EC;
    border-radius: 2px;
}

.headerLink {
    margin-left: 32px;
    position: relative;
}

.searchContainer {
    display: flex;
    justify-content: end;
   
}

.headerInput {
    width: 256px;
    height: 40px;
    border: 2px solid #E6E8EC;
    border-radius: 8px;
    color: #777E91;
    padding: 10px 35px 10px 16px;
    box-sizing: border-box;
}
.inputContainer{
    position: relative;
}

.inputGlass{
    position: absolute;
    top:10px;
    right: 10px;
}   

.headerButtonBell {
    border: none;
    background: none;
    width: 70px;
}




.headerLinkContainer{
    position: relative;
}
.allCategoriesContainer{
    background: #ffffff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
    top:45px;
    left:25px;
    padding:20px 10px;
    /* border: 2px solid rgb(239, 234, 234); */
    box-shadow: #23262F;
    width: 200px;
    height: 0px;
    transition: all  .6s  ease-out;
    overflow: hidden; 
    z-index: 100;
}

.allCategoriesContainer::after{
    position: absolute;
    content: '';
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgb(0, 0, 0);
    top: 0px;
    left: 5px;
}
.test{
    visibility:visible;
    opacity: 1;
    height: 150px;
    transition: all  .6s  ease-out;
}

  
.categoryLink{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #23262F;
    margin-bottom: 22px;
    text-decoration: none;
}

.categoryLink:hover{
    font-size: 19px;
    transition: all .5s ease-out;
}